body {
     background-color: #C0DDED;       


    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-indent: 20px;
}
h1 {
    color:#53676E; 
 }

h1#principal {
    text-align: center;
    background-color: #2c383c;
    color: rgb(255, 255, 255);
}
h2{
    color: #6d8c9b;
}
.basico {
    color:#53676E; 
    }
.basico2 {
    color:#6d9b71; 
}
.intermediario {
    color:#6d799b; 
}
.avaçado {
    color: #9b6d6d;
}